**Universities**

The dataset on American college and university rankings (available from www.dataminingbook.com) contains information on 1302 American colleges and universities oﬀering an undergraduate program. 

For each university, there are 17 measurements that include continuous measurements (such as tuition and graduation rate) and categorical measurements (such as location by state and whether it is a private or a public school).

© 2016 Galit Shmueli and Peter Bruce
Source: Compiled from US News and World Report rankings on 1302  American Colleges and Universities

| Column Name                | Description                                                                                     |
|----------------------------|-------------------------------------------------------------------------------------------------|
| `College Name`             | The name of the college or university.                                                          |
| `State`                    | The U.S. state where the college is located.                                                    |
| `Public (1)/ Private (2)`  | Indicator of whether the institution is public (1) or private (2).                              |
| `# appli. rec'd`           | The number of applications received by the college.                                             |
| `# appl. accepted`         | The number of applications accepted by the college.                                             |
| `# new stud. enrolled`     | The number of new students enrolled.                                                            |
| `% new stud. from top 10%` | The percentage of new students who were in the top 10% of their high school class.              |
| `% new stud. from top 25%` | The percentage of new students who were in the top 25% of their high school class.              |
| `# FT undergrad`           | The number of full-time undergraduate students.                                                 |
| `# PT undergrad`           | The number of part-time undergraduate students.                                                 |
| `in-state tuition`         | The tuition cost for in-state students.                                                         |
| `out-of-state tuition`     | The tuition cost for out-of-state students.                                                     |
| `room`                     | The cost of room/board.                                                                         |
| `board`                    | Another component of the cost of living on campus, possibly overlapping with "room".            |
| `add. fees`                | Additional fees charged by the college.                                                         |
| `estim. book costs`        | Estimated cost of books.                                                                        |
| `estim. personal $`        | Estimated personal expenses.                                                                    |
| `% fac. w/PHD`             | The percentage of faculty members with a Ph.D.                                                  |
| `stud./fac. ratio`         | The student-to-faculty ratio.                                                                   |
| `Graduation rate`          | The graduation rate of the college.                                                             |

#### Import libraries

In [1]:
import pandas as pd
import numpy as np
import re
import us

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
unis = pd.read_excel('Universities.xlsx', sheet_name="usnews3.data.9 .SS (v5.0)")

In [3]:
unis.shape

(1302, 20)

In [4]:
unis.columns

Index(['College Name', 'State', 'Public (1)/ Private (2)', '# appli. rec'd',
       '# appl. accepted', '# new stud. enrolled', '% new stud. from top 10%',
       '% new stud. from top 25%', '# FT undergrad', '# PT undergrad',
       'in-state tuition', 'out-of-state tuition', 'room', 'board',
       'add. fees', 'estim. book costs', 'estim. personal $', '% fac. w/PHD',
       'stud./fac. ratio', 'Graduation rate'],
      dtype='object')

In [5]:
#unis.info()

unis.dtypes.value_counts()

float64    17
object      2
int64       1
Name: count, dtype: int64

In [6]:
unis.head(2)

,College Name,State,Public (1)/ Private (2),# appli. rec'd,# appl. accepted,# new stud. enrolled,% new stud. from top 10%,% new stud. from top 25%,# FT undergrad,# PT undergrad,in-state tuition,out-of-state tuition,room,board,add. fees,estim. book costs,estim. personal $,% fac. w/PHD,stud./fac. ratio,Graduation rate
0,Alaska Pacific University,AK,2,193.0,146.0,55.0,16.0,44.0,249.0,869.0,7560.0,7560.0,1620.0,2500.0,130.0,800.0,1500.0,76.0,11.9,15.0
1,University of Alaska at Fairbanks,AK,1,1852.0,1427.0,928.0,NaN,NaN,3885.0,4519.0,1742.0,5226.0,1800.0,1790.0,155.0,650.0,2304.0,67.0,10.0,NaN

#### Clean up column names

In [7]:
cleaner_column_names = ['college', 'state', 'public_or_private',
                        'number_applications_received',
                        'number_applications_accepted',
                        'number_new_students_enrolled',
                        'percentage_new_students_from_top_10',
                        'percentage_new_students_from_top_25',
                        'number_ft_undergrad', 'number_pt_undergrad',
                        'in_state_tuition', 'out_of_state_tuition', 'room',
                        'board', 'additional_fees', 'estimated_book_costs',
                        'estimated_personal_spending','percentage_faculty_with_phd',
                        'student_faculty_ratio','graduation_rate']

unis.columns = cleaner_column_names
unis.columns

Index(['college', 'state', 'public_or_private', 'number_applications_received',
       'number_applications_accepted', 'number_new_students_enrolled',
       'percentage_new_students_from_top_10',
       'percentage_new_students_from_top_25', 'number_ft_undergrad',
       'number_pt_undergrad', 'in_state_tuition', 'out_of_state_tuition',
       'room', 'board', 'additional_fees', 'estimated_book_costs',
       'estimated_personal_spending', 'percentage_faculty_with_phd',
       'student_faculty_ratio', 'graduation_rate'],
      dtype='object')

#### Bring in more geographic information

In [8]:
test_df = pd.read_csv('https://raw.githubusercontent.com/cphalpert/census-regions\
/master/us%20census%20bureau%20regions%20and%20divisions.csv')

In [9]:
test_df.head(2)

     State State Code Region            Division
0   Alaska         AK   West             Pacific
1  Alabama         AL  South  East South Central

In [10]:
test_df.rename(columns={'State': 'State_Name'}, inplace=True)

In [11]:
test_df.columns

Index(['State_Name', 'State Code', 'Region', 'Division'], dtype='object')

#### Merge both dataframes

In [12]:
unis = pd.merge(unis, test_df, how='inner', left_on='state', right_on='State Code')

In [13]:
unis.columns

Index(['college', 'state', 'public_or_private', 'number_applications_received',
       'number_applications_accepted', 'number_new_students_enrolled',
       'percentage_new_students_from_top_10',
       'percentage_new_students_from_top_25', 'number_ft_undergrad',
       'number_pt_undergrad', 'in_state_tuition', 'out_of_state_tuition',
       'room', 'board', 'additional_fees', 'estimated_book_costs',
       'estimated_personal_spending', 'percentage_faculty_with_phd',
       'student_faculty_ratio', 'graduation_rate', 'State_Name', 'State Code',
       'Region', 'Division'],
      dtype='object')

#### Continue to be fussy about column formatting and column order

In [14]:
unis.columns = [col.lower().replace(' ', '_') \
 if col != 'State Code' else 'state_code' for col in unis.columns]

In [15]:
unis.columns

Index(['college', 'state', 'public_or_private', 'number_applications_received',
       'number_applications_accepted', 'number_new_students_enrolled',
       'percentage_new_students_from_top_10',
       'percentage_new_students_from_top_25', 'number_ft_undergrad',
       'number_pt_undergrad', 'in_state_tuition', 'out_of_state_tuition',
       'room', 'board', 'additional_fees', 'estimated_book_costs',
       'estimated_personal_spending', 'percentage_faculty_with_phd',
       'student_faculty_ratio', 'graduation_rate', 'state_name', 'state_code',
       'region', 'division'],
      dtype='object')

In [16]:
unis = unis.drop(columns=['state'])

In [17]:
unis.columns

Index(['college', 'public_or_private', 'number_applications_received',
       'number_applications_accepted', 'number_new_students_enrolled',
       'percentage_new_students_from_top_10',
       'percentage_new_students_from_top_25', 'number_ft_undergrad',
       'number_pt_undergrad', 'in_state_tuition', 'out_of_state_tuition',
       'room', 'board', 'additional_fees', 'estimated_book_costs',
       'estimated_personal_spending', 'percentage_faculty_with_phd',
       'student_faculty_ratio', 'graduation_rate', 'state_name', 'state_code',
       'region', 'division'],
      dtype='object')

In [18]:
# Cannot chain - NoneType errors
unis.insert(1, 'state_code', unis.pop('state_code'))
unis.insert(2, 'state_name', unis.pop('state_name'))
unis.insert(3, 'region', unis.pop('region'))
unis.insert(4, 'division', unis.pop('division'))

In [19]:
unis.columns

Index(['college', 'state_code', 'state_name', 'region', 'division',
       'public_or_private', 'number_applications_received',
       'number_applications_accepted', 'number_new_students_enrolled',
       'percentage_new_students_from_top_10',
       'percentage_new_students_from_top_25', 'number_ft_undergrad',
       'number_pt_undergrad', 'in_state_tuition', 'out_of_state_tuition',
       'room', 'board', 'additional_fees', 'estimated_book_costs',
       'estimated_personal_spending', 'percentage_faculty_with_phd',
       'student_faculty_ratio', 'graduation_rate'],
      dtype='object')

In [20]:
unis.head(2)

,college,state_code,state_name,region,division,public_or_private,number_applications_received,number_applications_accepted,number_new_students_enrolled,percentage_new_students_from_top_10,...,in_state_tuition,out_of_state_tuition,room,board,additional_fees,estimated_book_costs,estimated_personal_spending,percentage_faculty_with_phd,student_faculty_ratio,graduation_rate
0,Alaska Pacific University,AK,Alaska,West,Pacific,2,193.0,146.0,55.0,16.0,...,7560.0,7560.0,1620.0,2500.0,130.0,800.0,1500.0,76.0,11.9,15.0
1,University of Alaska at Fairbanks,AK,Alaska,West,Pacific,1,1852.0,1427.0,928.0,NaN,...,1742.0,5226.0,1800.0,1790.0,155.0,650.0,2304.0,67.0,10.0,NaN

In [21]:
# uni['public_or_private'] = df['public_or_private'].astype('category')
# uni['public_or_private'] = pd.Categorical(uni['public_or_private'])

unis['public_or_private'] = unis['public_or_private'].replace({1: 'public', 2: 'private'})

In [22]:
unis['number_applications_not_accepted'] = \
unis['number_applications_received'] - unis['number_applications_accepted']

In [23]:
# Spot check
unis[unis.columns[unis.columns.str.contains('number_applications')]].head(3)

,number_applications_received,number_applications_accepted,number_applications_not_accepted
0,193.0,146.0,47.0
1,1852.0,1427.0,425.0
2,146.0,117.0,29.0

In [24]:
unis[unis.columns[unis.columns.str.contains('number_applications')]].isnull().sum()

number_applications_received        10
number_applications_accepted        11
number_applications_not_accepted    13
dtype: int64

In [25]:
unis['percentage_applications_accepted'] = \
round(unis['number_applications_accepted'] / unis['number_applications_received']*100, 2)

In [26]:
# Spot check
unis[unis.columns[unis.columns.str.contains('applications')]].head(3)

,number_applications_received,number_applications_accepted,number_applications_not_accepted,percentage_applications_accepted
0,193.0,146.0,47.0,75.65
1,1852.0,1427.0,425.0,77.05
2,146.0,117.0,29.0,80.14

In [28]:
unis.insert(8, 'number_applications_not_accepted', 
            unis.pop('number_applications_not_accepted'))
unis.insert(9, 'percentage_applications_accepted', 
            unis.pop('percentage_applications_accepted'))

In [29]:
unis.columns

Index(['college', 'state_code', 'state_name', 'region', 'division',
       'public_or_private', 'number_applications_received',
       'number_applications_accepted', 'number_applications_not_accepted',
       'percentage_applications_accepted', 'number_new_students_enrolled',
       'percentage_new_students_from_top_10',
       'percentage_new_students_from_top_25', 'number_ft_undergrad',
       'number_pt_undergrad', 'in_state_tuition', 'out_of_state_tuition',
       'room', 'board', 'additional_fees', 'estimated_book_costs',
       'estimated_personal_spending', 'percentage_faculty_with_phd',
       'student_faculty_ratio', 'graduation_rate'],
      dtype='object')

In [30]:
unis.to_csv('cleaned_university_data.csv', index=False)